body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: #CC231E; // red */
  /*background-color: #235E6F; */
  /*background-color: #87CEFA;*/
  background-color: lightblue;
  color: white;
}

p2 {
  /*color: #CC231E;*/
}

button {
  /*background-color: #CC231E;*/
  background-color: silver;
  /*color: white;*/
}

.container { 
  height: 200px;
  position: relative;
  /*border: 10px;*/
  /*border-style: solid;*/
  /*border-color: #0F8A5F;*/
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}